:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark-Gray: hsl(0, 0%, 55%);
  --Very-Dark-Gray: hsl(0, 0%, 41%);

  --alata: "Alata", sans-serif;
  --josefinSans: "Josefin Sans", sans-serif;
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--alata);
}

/*    SECTION 1: HEADER/NAV */
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding: 80px 0;
}

.hero {
  min-height: 600px;
  background-image: url(images/mobile/image-hero.jpg);
  background-size: cover;
  background-position: center;
}

.nav {
  --close: none;
  --hamburguer: block;
  --transform: translate(100%);

  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-areas: "logo active";
  justify-content: space-between;
  padding: 45px 0;
}

.nav:target {
  --close: block;
  --hamburguer: none;
  --transform: translate(0);
}

.nav_logo {
  z-index: 1;
}

.nav_hamburguer,
.nav_close {
  grid-area: active;
  place-self: center;
  cursor: pointer;
}

.nav_hamburguer {
  display: var(--hamburguer);
  z-index: 1;
}

.nav_close {
  display: var(--close);
  z-index: 1;
}

.nav_img {
  display: block;
}

.nav_links {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  min-height: 500px;
  padding: 0;
  background-color: var(--Black);

  display: grid;
  place-content: center start;
  gap: 2em;
  padding-left: 5%;

  transform: var(--transform);
  transition: transform 0.6s;
  transition-timing-function: ease-in-out;
}

.nav_list {
  list-style: none;
}

.nav_link {
  text-decoration: none;
  color: var(--White);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.6rem;
  font-family: var(--josefinSans);
}

.hero_text {
  padding: 120px 0;
}

.hero_title {
  max-width: 500px;
  color: var(--White);
  border: 2px solid;
  font-family: var(--josefinSans);
  font-size: 2.8rem;
  padding: 1.2rem;
  text-transform: uppercase;
  font-weight: 100;
}

/*    SECTION 2: MAIN/LEADER */

.leader {
  display: grid;
  gap: 2.5em;
}

.leader_img {
  width: 100%;
}

.leader_texts {
  text-align: center;
}

.subtitle {
  font-family: var(--josefinSans);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 200;
  line-height: 1em;
  color: var(--Black);
}

.leader_paragraph {
  color: var(--Dark-Gray);
  line-height: 1.5;
  margin-top: 1.5em;
}

/*  SECTION GALLERY */

.gallery {
  display: grid;
  row-gap: 3em;
}

.gallery_container {
  display: grid;
  gap: 2em;
  margin-top: 1em;
}

.gallery_cta {
  color: var(--Black);
  border: 2px solid;
  font-size: 1.2rem;
  padding: 0.6em 3.8em;
  text-decoration: none;
  text-transform: uppercase;
  place-self: center;
  letter-spacing: 2px;
  order: 1;
}

.gallery_picture {
  display: grid;
  grid-template-areas: "show";
}

.gallery_picture::before {
  content: "";
  z-index: 10;
  grid-area: show;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 30%,
    rgba(0, 0, 0, 0.2)
  );
}

.gallery_picture::after {
  content: attr(data-message) "";
  text-transform: uppercase;
  color: var(--White);
  grid-area: show;
  font-family: var(--josefinSans);
  font-size: 1.8rem;
  z-index: 10;
  place-self: end start;
  width: 30%;
  padding: 1rem;
  font-weight: 200;
}

.gallery_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-area: show;
}

/*  SECTION FOOTER */

.footer {
  background-color: var(--Black);
}

.footer_container {
  display: grid;
  grid-template-columns: max-content;
  justify-content: center;
  justify-items: center;
}

.footer_links {
  margin: 2.5em 0;
  display: grid;
  gap: 1.7em;
  padding: 0;
}

.footer_list {
  list-style: none;
}

.footer_link {
  color: var(--White);
  text-decoration: none;
}

.footer_nav {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 2em;
}

.footer_copy {
  margin-top: 1.5em;
  color: var(--Dark-Gray);
}

@media (min-width: 768px) {
  /*   HEADER/MAIN */
  .hero {
    background-image: url(images/desktop/image-hero.jpg);
  }

  .nav_hamburguer {
    --hamburguer: none;
  }

  .nav_close {
    --close: none;
    --hamburguer: none;
  }

  .nav_links {
    position: unset;

    min-height: unset;
    padding: 0;
    background-color: transparent;
    grid-auto-flow: column;
    display: grid;
    place-content: center start;
    gap: 1em;
    transform: translate(0);
  }

  .nav_link {
    text-transform: none;

    font-size: 1rem;
    font-family: unset;
  }

  /*  LEADER */

  .leader {
    min-height: 350px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);

    gap: 0;
  }

  .leader_picture {
    grid-column: 1/5;
    grid-row: 1/5;
  }

  .leader_img {
    height: 100%;
    object-fit: cover;
  }

  .leader_texts {
    text-align: left;
    grid-column: 4/8;
    grid-row: 3/6;
    background-color: var(--White);
    padding: 2.5em;
  }

  .subtitle {
    font-size: 2.8rem;
  }

  /*  SECTION GALLERY */

  .gallery {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
    padding-top: 0;
  }

  .gallery_container {
    grid-column: 1/-1;
    grid-row: 2/3;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .gallery_cta {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .gallery_picture::after {
    width: 50%;
  }

  /*  SECTION FOOTER */

  .footer_container {
    grid-template-areas:
      "logo social"
      "links copy";
    grid-template-columns: repeat(2, max-content);
    gap: 3em;
    justify-content: space-between;
    align-items: center;
  }

  .footer_logo {
    grid-area: logo;
    justify-self: start;
  }

  .footer_links {
    margin: 0;
    grid-area: links;
    grid-auto-flow: column;
    gap: 1.2em;
  }

  .footer_link {
    color: var(--White);
    text-decoration: none;
  }

  .footer_nav {
    grid-area: social;
    justify-self: end;
  }

  .footer_copy {
    grid-area: copy;
    margin: 0;
  }
}
